body {
  font-family: "Mulish", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 250, 250);
}

* {
  margin: 0 auto;
}

strong {
  font-size: 48px;
}

.a1 {
  opacity: 0.5;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.a2 {
  opacity: 1;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.img1 {
  margin-top: 20px;
}

.img2 {
  margin-left: 750px;
  margin-top: -450px;
}

.div1 {
  margin-left: 100px;
  margin-top: 250px;
}

.img3 {
  margin-top: 50px;
  margin-left: 100px;
}

.div2 {
  margin-left: 990px;
  margin-top: -35px;
}

.img4 {
  margin-bottom: -210px;
}

.h21 {
  text-align: center;
  margin-top: 130px;
}

.img5 {
  margin-left: 7300px;
  display: block;
}

.b1 {
  margin-top: 20px;
  opacity: 0.5;
  display: block;
}

.b3 {
  margin-top: 10px;
  margin-bottom: 100px;
  opacity: 0.5;
  text-align: center;
  display: block;
}

.div4 {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 15px;
  width: 350px;
  margin-left: 140px;
  margin-top: -70px;
  display: inline-block;
}

.img6 {
  margin-top: 10px;
  margin-left: 80px;
  margin-bottom: 20px;
  width: 150px;
  display: block;
}

.b4 {
  font-size: 25px;
  text-align: center;
  display: block;
}

.p1 {
  text-align: center;
  opacity: 0.5;
}
.a3 {
  text-decoration: none;
  color: black;
}

.div5 {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 15px;
  width: 350px;
  margin-top: -273px;
  margin-left: 569px;
}

.div6 {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 15px;
  width: 350px;
  height: 300px;
  margin-top: -305px;
  margin-left: 1009px;
}

.img7 {
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 20px;
  width: 107px;
  display: block;
}

.img8 {
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 20px;
  width: 100px;
  display: block;
}

.div7 {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 15px;
  width: 350px;
  margin-top: 50px;
  margin-left: 140px;
}

.img9 {
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 20px;
  width: 107px;
  display: block;
}

.div8 {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 15px;
  width: 350px;
  height: 301px;
  margin-top: -307px;
  margin-left: 569px;
}

.p2 {
  text-align: center;
  opacity: 0.5;
  margin-top: 65px;
  display: block;
}

.img10 {
  margin-top: 30px;
  margin-left: 120px;
  margin-bottom: 20px;
  width: 110px;
  display: block;
}

.div9 {
  border-style: solid;
  border-color: rgb(240, 240, 240);
  border-radius: 15px;
  width: 350px;
  margin-top: -307px;
  margin-left: 1009px;
}

.img11 {
  margin-top: 10px;
  margin-left: 120px;
  margin-bottom: 20px;
  width: 107px;
  display: block;
}

.h22 {
  text-align: center;
  font-size: 150px;
}

.img12 {
  margin-top: 100px;
  margin-left: 650px;
}
